[Unit]
Description=Spigot Minecraft Server

[Service]
WorkingDirectory=/home/raspberry/
ExecStart=java -Xms7850M -Xmx7850M -XX:+UseG1GC -jar spigot-1.20.4.jar nogui
User=raspberry
Type=simple
Restart=on-failure
Sockets=minecraft.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
